<section class="blogposts">
    <div>
        <tbody>
            <tr>
                <td>{{title}}</td>
                <td>{{user_name}}</td>
                <td>{{date_created}}</td>
                <td>{{contents}}</td>
                <td><i class="bi bi-trash-fill delete-button" data-id="{{id}}"></i></td>
            </tr>
        </tbody>
    </div>
</section>